/* Personalizacion del scroll */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #4161de;
    border-radius: 6px;
}

* {
    scrollbar-width: 8px;
    scrollbar-color: blue white;
}

/* Propiedades css del proyecto  */
.appBar {
    background-color: #FFFFFF !important
}

.Toolbar {
    display: grid !important;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    gap: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

.textButon {
    font-weight: 600 !important;
    font-family: system-ui !important;
    font-size: 0.875rem !important;
    text-transform: capitalize !important;
}



@media (min-width: 1200px) {
    .css-1oqqzyl-MuiContainer-root {
        max-width: none !important;
    }
}

@media (min-width: 1500px) {
    .css-1oqqzyl-MuiContainer-root {
        max-width: 1500px !important;
    }
}